#caixa{
	width: 300px ;
	height: 300px ;
	padding: 8px;
	margin: 20px;
	background: #009670;
	box-shadow:	20px 20px 2px black ; /*USADO PARA APLICAR UMA SOMBRA DIRETO
	NA CAIXA, DIFERENTE DO CASO ABAIXO QUE APLICAMOS DIRETO
	NA FONTE H1 FUNCIONA DA MESMA FORMA QUE O DE BAIXO
	PODEMOS USAR PX NEGATIVOS PARA TROCAR A DIREÇÃO*/
}

#caixa h1{
	color: white;
	text-shadow: 20px 20px 3px rgba(0, 0, 0, 0.2) ;/*para aplicar uma 
	sombra em um texto*/
	/*PRIMEIRO PARAMETRO MOVIMENTA A SOMBRA NA HORIZONTAL(---),
	  SEGUNDO PARAMETRO MOVIMENTA A SOMBRA PARA A VERTICAL( | )	
	  TERCEIRO PARAMETRO DEFINE UM BORRÃO*/
	  /*IMPORTANTE, A SOMBRA FUNCIONA COMO UM EFEITO DE FUNDO ELA
	  NAO IMPURRA OUTRAS COISAS QUE ESTARIAM ABAIXO OU A CIMA */

}


/*IMPORTANTE, PODEMOS UTILIZAR UM QUARTO VALOR PARA DEFINIR O 
TAMANHO DA SOMBRA.*/

