
body{
	background: #007fc7;
}
#container{
	background: white;
	width: 800px;
	margin: 10px auto; /*aqui o auto usamos para centralizar o container ID
	na tela*/
	padding: 10px;
}
h1{
	/*position: static; é o posicionamento padrao que é aplicado.*/

}
p{
	/*position: static; é o posicionamento padrao que é aplicado.*/
	width: 300px;
}
.relative{
	border: 1px solid darkred;
	position: relative;
	/*quando usamos a posição relativa precisamos usar 
	tambem propriedades de deslocamento para movimentar o paragrafo que sao
	top right bottom e left */
	top: 20px;/*baseado em sua posição anterior o objeto da classe vai ser 
	deslocado 20 px no topo da mesma forma podemos usar o right bottom e left*/

}





