
*{
	margin: 0px;
	padding: 0px;


}

body{
	background: #E4E1E1;
	width: 100%;
	
	text-align: center;


}
/*INICIO CABEÇALHO*/

#cabecalho{
	width: 100%;
	background: #f7b600;
	height: 80px;
	
	text-align: center;
	padding: 30px;

	
}


.grande{
	font-size: 40px;
	font-family: "Trebuchet", Helvetica, sans-serif ;

}
#branco{
	color: white;
}
.links-cabecalho{
	margin: 100px 10px;
	font-size: 20px;

	
}
#links-cabecalho a:link , #links-cabecalho a:visited {
	color: white;
	text-decoration: none;


}
#links-cabecalho a:hover{
	background-color: white;
	color: orange;

}


.linkMain{
	text-decoration: none	;
	color: orange;
}


	
/*INICIO MAIN */
h2{
	background-color: #ccc;
}
}
.clear{
	clear: both;
}

.flex1{
	float: left;
	width: 700px;
	background-color: white;
	text-align: center;
	margin-left: 30%;,
	margin-bottom: 10px;
	margin-top: 10px;

}
.flex2{
	float: left;
	background-color: white;
	width: 160px;
	padding: 20px;
	margin: 1px 20px;
	padding: 5;


}



a:link , a:visited{
	color: #f7b600;
	text-decoration: none;

}
a:hover{
	text-decoration: underline;

}




